rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow creating and reading leads
    match /leads/{leadId} {
      allow create: if true;
      allow read, update: if true;
    }
  }
}
